{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": false,
      "dynamicImport": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "importSource": "preact"
      }
    },
    "target": "es2020",
    "externalHelpers": false
  },
  "module": {
    "type": "nodenext",
    "strict": true
  },
  "sourceMaps": false,
  "exclude": ["node_modules", "public", "dist"]
}
